
.site-header {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  margin: 0 auto;

  padding-top: $space-1;
  padding-left: 10px;

  width: 840px;

  @media screen and (max-width: $viewport-medium) {
    width: 100%;
  }
}

.site-logo {
  display: flex;
  align-items: center;

  & > span {
    margin-left: 10px;
  }

  & > img {
    width: 40px;
    height: 40px;
  }
}

.site-header a {
  color: #333;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 0;

  width: 100%;

  @media screen and (max-width: $viewport-medium) {
    margin: 0;
  }
}

.site-nav-item {
  width: 33.333%;
    
  text-align: center;

  @media screen and (max-width: $viewport-medium) {
    width: 100%;
  }
}

.site-header nav a {
  color: #666;

  @media screen and (max-width: $viewport-medium) {
    display: block;
    box-sizing: border-box;
    margin-left: 0 !important;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #DDD;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;

  @media screen and (max-width: $viewport-small) {
    border-bottom: 1px solid #AAA;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}