.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: 1.4rem;
  width: 100%;
}

.social-icons a.fa {
  cursor: pointer;
  opacity: 0.8;
  padding: 0.2em;
  font-size: 1.3rem;
}

.social-icons a.fa:hover {
  opacity: 1;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}

.social-icons a.fa:hover {
  &.fa-slack {
    color: #E6433B;
  }
  &.fa-facebook {
    color: #3b5998;
  }
  &.fa-github {
    color: #552C7A;
  }
  &.fa-twitter {
    color: #019FE9;
  }
  &.fa-rss {
    color: #FFA500;
  }
  opacity: 1;
}
