html {
  font-size: $base-font-size;
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #000;
  line-height: 1.8;
  word-break: keep-all;
  letter-spacing: 0px;
  font-weight: lighter;
  transform: rotate(-0.0000000001deg);
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p code {
  transform: none;
  text-shadow: none;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}


p .highlighter-rouge {
  font-weight: normal;
  font-size: 0.8rem;
}
